{% extends 'base.html' %}
{% block title %} Guest Detail {% endblock title %}
{% block content %}
<h2 class="titlex">Guest Detail</h2>
  <p>Name: {{ guest.first_name }} {{ guest.last_name }}</p>
  <p>Email: {{ guest.email }}</p>
  <p>Phone Number: {{ guest.phone_number }}</p>
  <p>Address: {{ guest.address }}</p>
  {% if can_view_sensitive_data %}
    <p>Government ID: {{ guest.masked_government_id }}</p>
  {% endif %}
  {% if perms.guest.change_guest %}
    <a class="linkx" href="{% url 'guest_update' guest.id %}">Update Guest</a>
  {% endif %}
  {% if perms.main.add_reservation %}
  <a class="linkx" href="{% url 'reservation_create' %}?guest_id={{ guest.id }}">Make Reservation </a> 
  {% endif %}

  {% endblock content %}
